h1 {
  font-family: "Bungee Shade", sans-serif;
  font-size: 200px;
  font-weight: 800;
}

h2,
h3 {
  font-family: "Bungee Inline", sans-serif;
  color: #19454d;
}

a,
ul,
p,
form,
div,
button,
label {
  font-family: "M PLUS Code Latin", monospace !important;
}

p {
  font-size: 20px;
}

.home-panel {
  flex-grow: 1;
  align-self: center;
}

.home-card {
  text-align: center;
}

.project-display {
  font-family: "Bungee Inline", sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #19454D;
  text-shadow: -5px 5px 1px #F4857B,
  -7px 10px 1px #FCDC5F;
}
